body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 350px;
}

/* Header side */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
    background-color: #64001d;
}
.header p {
    font-family: inherit;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 0;
}
main {
    font-size: 14px;
}
main p {
    text-align: center;
    font-weight: bold;
}

/* Listado de cursos */
.list-cursos {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px;
}
.list-cursos .list-item {
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border-color: #cbd5e0;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}
.list-item:hover {
    transform: translateY(-0.05rem); 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

/* Nota */
.nota-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.nota-row {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.nota-row label {
    flex: 1;
    margin-right: 5px;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 25px;
}

.input-group input[type="number"] {
    border: 1px solid #e2e8f0;
    padding:5px;
    border-radius: 5px; 
    width: 52px;
    text-align: center;
    outline: none;
    font-size: 16px;
}
.input-group select {
    border: 1px solid #e2e8f0;
    padding:5px;
    border-radius: 5px; 
    outline: none;
    font-size: 16px;
}

/* Separador */
hr {
    border: none;
    border-top: 1px solid #a5a8ac;
    margin: 0;
}

/* Botones */
.btn {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 7px;
    background-color: #272727;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    font-size: 16px;
}

/*Efecto al ser precionado los botones*/
.btn:active {
    transform: scale(0.96);
}

.btn-volver {
    background-color: #0d6efd;
    display: flex;
    justify-content: center;
}

/* Parrafos de resultados */
.nota-final {
    font-size: 16px;
}
.nota-faltante {
    font-size: 13px;
}


/* Footer*/
footer p {
    text-align: center;
    margin: 10px 0 0 0;
    padding: 7px 0 10px 0;
    color: #fff;
    background-color: #64001d;

    a {
        display: inline-block;
        margin-left: 8px;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }
}