body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 400px;
}

/* Header side */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
    background-color: #64001d;
}
.header p {
    font-family: inherit;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 0;
}
main p {
    text-align: center;
}

.list-cursos {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px;
}
.list-cursos .list-item {
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border-color: #cbd5e0;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}
.list-item:hover {
    transform: translateY(-0.05rem); 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}


/**************************************************************************************************************************/
.btn {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 7px;
    background-color: #272727;
    border-radius: 5px;
}

/*Efecto al ser precionado los botones*/
.btn:active {
    transform: scale(0.95);
}

/* Footer*/
footer p {
    text-align: center;
    margin: 10px 0 0 0;
    padding: 7px 0;
    color: #fff;
    background-color: #64001d;
}